spring:
  profiles:
    default: "dev"
  jpa:
    show-sql: false
    open-in-view: false
    hibernate:

      ddl-auto: create-drop
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
  sql:
    init:
      encoding: UTF-8
server:
  error:
    include-message: always
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
jvezolles:
  api:
    user:
      get-all: "/user"
      get: "/user/{username}"
      create: "/user"
      delete: "/user/{username}"
