spring:
  profiles:
    default: "dev"
  jpa:
    show-sql: false
    open-in-view: false
    hibernate:

      ddl-auto: create-drop
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
  sql:
    init:
      encoding: UTF-8
server:
  error:
    include-message: always
management:
  endpoints:
    web:
      exposure:
        include: [ info ]
  info:
    build:
      enabled: true
    git:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
jvezolles:
  api:
    user:
      get-all: "/user"
      get: "/user/{username}"
      create: "/user"
      update: "/user"
      replace: "/user/{username}"
      delete: "/user/{username}"
